<p id="notice"><%= notice %></p>

<p>
  <strong>Given name:</strong>
  <%= @patient.given_name %>
</p>

<p>
  <strong>Family name:</strong>
  <%= @patient.family_name %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @patient.sex %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
